*{
	margin: auto;
	padding: 0px;
}
ul,li,a{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background: #75d6ff;
}
.box_nav{
	display: flex;
	width: 100%;
	background: #fff;
}
.box_body{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content:center;
	padding: 10px 100px;
}
.box_ul{
	flex: 1;
	background: #e9eff1;
	display: flex;
	flex-direction: column;
	height: 556px;
	min-width:13rem;
	min-height:5rem;
}
.box_ul>ul>li{
	padding: 10px 50px;
	/* margin: 10px 50px; */
}
.box_ul>ul>li:hover{
	background: red;
}
.box_img{
	flex: 4;
	background: #fff;
	height: 556px;
	min-width: 320px;
	min-height: 74px;
}
.box_img>img{
	width: 154px;

}
.box_foot{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #fff;
	width: 100%;
	height: 100px;
}
.box_f1{
	display: flex;
	justify-content: center;
	width: 800px;
	color: #333;
}
.box_f1>span>a{
	color: #333;
}